.my-btn-primary {
    background-color: #0A7956;
    border-color: #0A7956;
    color: white;
}

.container {
    margin-top: 8rem;
}

.dropdown-item:active {
    background-color: #0A7956;
}

.my-lead {
    font-size: 1.1rem;
    font-weight: 600;
}

.my-logo {
    width: 140px!important;
    height: 140px!important;
}