<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url 'index' %}">Data Search</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li id="main-for-login" class="nav-item">
          <a class="nav-link active text-white" href="{% url 'home' %}">หน้าหลัก</a>
        </li>
        <li id="menu-for-login2" class="nav-item dropdown menu-for-login menu-for-login">
          <a class="nav-link active dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">ดาวนโหลด</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="https://next.cmhis.org/s/QanK47eG5PmLxb5">โปรแกรม HuntCorrect</a>
            </li>
          </ul>
        </li>
        <li id="menu-for-login" class="nav-item dropdown menu-for-login">
          <a class="nav-link active dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">เลือกแฟ้ม</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'ncd' %}">NCD</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'labor' %}">Labor</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'palliative' %}">Palliative</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'person' %}">Person</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'provider' %}">ค้นหา Provider</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'hoscode' %}">ค้นหาหน่วยบริการ</a>
            </li>
          </ul>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> {% endcomment %}
      </ul>
      <div class="d-flex" id="check-login">
        <a id="loginout" class="btn btn-success" href="{% url 'logout' %}">Sign out</a>
      </div>
    </div>
  </div>
</nav>
<script>


</script>