{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ระบบคืนข้อมูล" />
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'assets/alertifyjs/css/alertify.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'assets/alertifyjs/alertify.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
    <style>
        .nav-link {
            color: #0a7956 !important;
        }

        .navbar {
            background-color: #0a7956 !important;
        }

        .text-white {
            color: #fff !important;
        }

        .my-main-btn {
            background-color: #0A7956FF;
            border: 1px solid #209470;
        }

        .my-main-btn:hover {
            background-color: #209470;
            border: 1px solid #209470;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        {% include 'getpid_app/components/_nav.html' %}
        <div class="container container-fluid mt-4 mb-4">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>